@font-face {
  font-family: StarNext;
  src: url('StarNext.ttf');
}

body {
  background-color: #000;
}

.fullBg {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

#header {
  font-family: 'StarNext';
  text-align: center;
  font-size: 2em;
}

#content {
}

.stitle {
  font-family: 'Arial';
  font-size: 1.0em;
  font-weight: bold;
  text-align: right;
  width: 40%;
}

.dato {
  font-family: 'Arial';
  font-size: 1.0em;
  font-weight: bold;
  text-align: left;
  padding-left: 5px;
  color: #00aa00;
/*   background-color: rgba(0, 0, 0, 0.7); */
}

.dato_error {
  font-family: 'Arial';
  font-size: 1.0em;
  font-weight: bold;
  text-align: left;
  padding-left: 5px;
  color: #ffaa00;
/*   background-color: rgba(0, 0, 0, 0.7); */
}

.row_active {
  background-color: rgba(0, 0, 0, 0.7);
}
