@font-face {
  font-family: StarNext;
  src: url('StarNext.ttf');
}

body {
  background-color: #000;
}

.ui-page {
  background-image: url(../img/sunrise.jpg);
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
}

#header {
  font-family: 'StarNext';
  text-align: center;
  font-size: 2em;
}

#content {
}

.stitle {
  font-family: 'Arial';
  font-size: 1.0em;
  font-weight: bold;
  text-align: right;
  width: 50%;
}

.dato {
  font-family: 'Arial';
  font-size: 1.0em;
  font-weight: bold;
  text-align: left;
  padding-left: 5px;
  color: #00bb00;
}

.dato_error {
  font-family: 'Arial';
  font-size: 1.0em;
  font-weight: bold;
  text-align: left;
  padding-left: 5px;
  color: #ffaa00;
}

.dato_yellow {
  font-family: 'Arial';
  font-size: 1.0em;
  font-weight: bold;
  text-align: left;
  padding-left: 5px;
  color: #ffff00;
}

.row_active td {
  background-color: rgba(0, 0, 0, 0.4);
}
