@font-face {
  font-family: StarNext;
  src: url('StarNext.ttf');
}

body {
  background-color: #000;
}

/*.ui-page {
  background-image: url(../img/sunrise.jpg);
  background-attachment: fixed;
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-position: 0px 0px;
}*/

#headerpage {
 font-family: 'StarNext';
 /*font-size: 1.5em;*/
}

#content {
}

.stitle {
  font-family: 'Arial';
  font-size: 1.0em;
  font-weight: bold;
  text-align: right;
  width: 50%;
}

.dato {
  font-family: 'Arial';
  font-size: 1.0em;
  font-weight: bold;
  text-align: left;
  padding-left: 5px;
  color: #00bb00;
}

.dato_error {
  font-family: 'Arial';
  font-size: 1.0em;
  font-weight: bold;
  text-align: left;
  padding-left: 5px;
  color: #ffaa00;
}

.dato_yellow {
  font-family: 'Arial';
  font-size: 1.0em;
  font-weight: bold;
  text-align: left;
  padding-left: 5px;
  color: #ffff00;
}

.dato_orange {
  font-family: 'Arial';
  font-size: 1.0em;
  font-weight: bold;
  text-align: left;
  padding-left: 5px;
  color: #ff5500;
}

.row_active td {
  background-color: rgba(0, 0, 0, 0.4);
}
